* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}
header {
  width: 100%;
}
#logo-bar {
  background-color: #27303f;
  height: 4rem;
}
#logo-bar img {
  background-color: #27303f;
  height: 3rem;
  padding-top: 0.5rem;
  padding-inline-start: 2rem;
}
nav {
  width: 100%;
  background-color: #3a4557;
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  font-family: Helvetica, Arial, sans-serif;
}
nav a {
  background-color: unset;
  color: white;
  text-decoration: none;
  margin: 1%;
}

nav a:hover {
  color: cornsilk;
}
body {
  background-color: #e8eced;
}
.main-divs {
  width: 96%;
  margin-inline: auto;
}
#shopall {
  background-color: #e95f08;
  height: 2rem;
  text-align: center;
  color: white;
  padding-top: 0.4rem;
  margin-bottom: 1.5rem;
}

#giftGuide {
  background-image: url(../images/bg-image.png);
  min-height: 200px;
  text-align: center;
  color: white;
  font-weight: bold;
}

#giftGuide h1 {
  font-size: xx-large;
  padding-top: 3.5rem;
  line-height: 2.5;
}

#perf-gift {
  background-color: white;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  font-weight: bold;
  margin-top: 1.5rem;
  padding-top: 0.5rem;
}
#perf-gift h2 {
  margin-top: 0.7rem;
  margin-inline-start: 2rem;
  font-size: x-large;
  padding-bottom: 1rem;
}
#perf-gift a {
  color: #3793a7;
  font-size: medium;
  text-decoration: none;
  margin-inline-start: 1rem;
}
.perf-giftImg {
  display: inline-block;
  width: 20vw;
  height: 400px;
  margin-inline: 1vw;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.perf-giftImg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
#gamingGifts {
  text-align: center;
  margin-bottom: 2rem;
  font-size: large;
}

#gamingGifts a {
  color: #3793a7;
  font-size: medium;
  font-weight: bold;
  text-decoration: none;
  margin-inline-start: 1rem;
}
#gamingGifts img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#soundGifts {
  text-align: center;
  margin-bottom: 2rem;
  font-size: large;
}
#soundGifts img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#soundGifts a {
  color: #3793a7;
  font-size: medium;
  font-weight: bold;
  text-decoration: none;
  margin-inline-start: 1rem;
}
footer {
  text-align: center;
}
footer #back {
  background-color: #3a4557;
  padding: 1rem;
}
#back a {
  color: white;
}
footer #logo {
  background-color: #27303f;
}
#logo img {
  width: 200px;
  padding: 3rem;
}
